<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="Stylesheet" href="~/css/home_style.css">
    <title>Home</title>
</head>
    <body>
        <div style="margin-left: 30%;" class="wrapper">
            <div style="font-size: 24px;" class="nav">
                <a style="text-decoration: none;" href='/'>Home|</a>
                <a style="text-decoration: none;" href='/projects'>Projects|</a>
                <a style="text-decoration: none;" href='/contact'>Contact</a>
            </div>
            <img class="img" src="~/images/PythonImages.jpg" alt='its not you its me'>
            <div class='about'>
                <h4>About Me</h4>
                <p>HELLO THERE!</p>
            </div>
        </div>
    </body>
</html>